# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

*.cs       text diff=csharp eol=crlf
*.sln      text merge=union eol=crlf
*.csproj   text eol=crlf
*.xaml     text eol=crlf
*.resx     text merge=union

# Denote all files that are truly binary and should not be modified.
*.png      binary
*.jpg      binary
*.dll      binary
*.exe      binary
*.pdb      binary